/* Scrollbar Style */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--accent), 0.5);
}
