@import './base.css';
@import url('https://fonts.googleapis.com/css?family=M%20PLUS%20Code%20Latin:700|Noto%20Serif%20Vithkuqi:400');
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  font-family: 'Noto Serif Vithkuqi';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'M PLUS Code Latin';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}
@layer base {
  :root {
    --text: #0e0e0c;
    --background: #f6e6f0;
    --primary: #ffc4d6;
    --secondary: #fab3c8;
    --accent: #ff87ab;
  }
  .dark {
    --text: #f8f8ef;
    --background: #051923;
    --primary: #003554;
    --secondary: #006494;
    --accent: #00a6fb;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}

.bg-background {
  background-color: var(--background);
}
.text-text {
  color: var(--text);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-accent {
  background-color: var(--accent);
}
.dark .bg-background {
  background-color: var(--dark-background);
}
.dark .text-text {
  color: var(--dark-text);
}
.dark .bg-primary {
  background-color: var(--dark-primary);
}
.dark .bg-secondary {
  background-color: var(--dark-secondary);
}
.dark .bg-accent {
  background-color: var(--dark-accent);
}
